.footer {
    padding-top: var(--wave_sizes---spacing--4x);
    padding-bottom: var(--wave_sizes---spacing--4x);
    background-color: var(--wave---background-color--bg-primary);
    color: var(--wave---text-color--text-primary);
  }
  .footer.is-inverse {
    padding-top: var(--wave_sizes---spacing--0-25x);
    padding-bottom: var(--wave_sizes---spacing--0-25x);
    background-color: var(--wave---background-color--bg-inverse);
    color: var(--wave---text-color--text-inverse-primary);
  }

  .container {
    max-width: var(--wave_sizes---container--container-width);
    padding-right: var(--wave_sizes---container--container-padding-horizontal);
    padding-left: var(--wave_sizes---container--container-padding-horizontal);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer_bottom {
    grid-column-gap: var(--wave_sizes---gap--xs-gap);
    grid-row-gap: var(--wave_sizes---gap--xs-gap);
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  .black-title { color: #111; }